<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Jobs</title>
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
  <body>
    <header>
      <span class="title"
        >Find Your
        <span id="D">D</span>
        <span id="r">R</span>
        <span id="e">E</span>
        <span id="a">A</span>
        <span id="m">M</span>
        Job!</span
      >
    </header>
    <main>
      <form action="/detail" method="get">
        <div class="search-bar">
          <input
            id="search__input"
            type="text"
            placeholder="Dream Job"
            name="word"
            required
          />
          <button type="submit"><i class="fas fa-search fa"></i>Search</button>
        </div>
      </form>
    </main>
    <script
      src="https://kit.fontawesome.com/fddc3a13b2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
